{% extends 'base.html.twig' %}

{% block title %}Page 2{% endblock %}

{% block body %}
    <style>
    </style>
    <div style="">

        <div style="display: block; width: 45%; margin-left: 0; margin-right: auto; position: relative">
            <a href="{{ app.request.headers.get('referer') }}"> Revenir à
                la page précédente</a>
            <div id="main-card" data-date="{{ today.date|date('l d F') }}" data-day="{{ today.day }}" data-night="{{ today.night }}"
                 data-humidity="{{ today.humidity }}"
                 data-pressure="{{ today.pressure }}" data-wind="{{ today.wind }}" data-img="https://openweathermap.org/img/wn/{{ today.icon }}@4x.png">
                <h3><img id="card-img" src="https://openweathermap.org/img/wn/{{ today.icon }}@4x.png" width="64"
                         style="position: relative; bottom: -24px"> <span id="card-date">{{ today.date|date('l d F') }}</span></h3>
                <ul>
                    <li>Jour : <span id="card-day" data-basevalue="{{ today.day }}">{{ today.day }}</span></li>
                    <li>Nuit : <span id="card-night" data-basevalue="{{ today.night }}">{{ today.night }}</span></li>
                    <li>Humidité : <span id="card-humidity"
                                         data-basevalue="{{ today.humidity }}">{{ today.humidity }}%</span></li>
                    <li>Pression : <span id="card-pressure" data-basevalue="{{ today.pressure }}">{{ today.pressure }}hPa</span>
                    </li>
                    <li>Vent : <span id="card-wind" data-basevalue="{{ today.wind }}">{{ today.wind }} Km/h</span></li>
                </ul>
            </div>
        </div>
        <div style="display: block; width: 45%; margin-right: 0; margin-left: auto; position:relative; top: -200px">
            {% for day in days %}
                <div class="card" data-day="{{ day.day }}" data-night="{{ day.night }}"
                     data-humidity="{{ day.humidity }}"
                     data-pressure="{{ day.pressure }}" data-wind="{{ day.wind }}" data-img="https://openweathermap.org/img/wn/{{ day.icon }}@4x.png" onclick="updateMain(this)" data-date="{{ day.date|date('l d F') }}">
                    <div style="width: 33%">
                        <img src="https://openweathermap.org/img/wn/{{ day.icon }}@4x.png" width="64"
                             style="position: relative; bottom: -24px">
                    </div>
                    <div style="width: 33%">
                        <h4>{{ day.date|date('l d F') }}</h4>
                    </div>
                    <div style="width: 33%">
                        <h4>{{ day.day }}°C</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let previousElement = null;

        function updateMain(element) {
            if (previousElement == null || previousElement !== element) {
                previousElement = element;
            } else {
                element = document.getElementById("main-card");
                previousElement = null;
            }
            document.querySelector("#card-date").innerHTML = element.dataset.date;
            document.querySelector("#card-day").innerHTML = element.dataset.day;
            document.querySelector("#card-night").innerHTML = element.dataset.night;
            document.querySelector("#card-humidity").innerHTML = element.dataset.humidity;
            document.querySelector("#card-pressure").innerHTML = element.dataset.pressure;
            document.querySelector("#card-wind").innerHTML = element.dataset.wind;
            document.querySelector("#card-img").src = element.dataset.img;
        }
    </script>
{% endblock %}